#ini-tabs {
    .tab-content {
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: gray;
        padding: 8px;
        height: 50vh;
        overflow: hidden auto;
    }
}

#ini-editor-loading {
    text-align: center;
  
    .page-wait-spinner-container {
        padding: 3em;
    }
    .page-wait-spinner {
        width: 5em;
        height: 5em;
    }
}

.ini-setting-container {
    background-color: #2A2C2B;
    border: 1px solid #DEE2E6;
    padding: 4px 8px;
    margin: 4px;

    p {
        margin-top: 0;
    }
}

.ini-preset-buttons {
    padding: 1.5em 0;
    font-size: 1.1em;
    .btn-group {
        margin: 0 8px;
    }

    button {
        margin: 0 4px;
    }
}

.ini-settings-icons {
    display: flex;
    justify-content: space-between;

    button, button:hover, button:disabled:hover, button:active {
        background: none;
        border: none;
    }

    button:hover:not(:disabled) {
        color: var(--brand-clickable);
    }

    .btn-group {
        padding-top: 8px;
    }

    .btn-group>.btn:first-child {
        padding-left: 0;
    }

    .ini-settings-warning {
        padding: .2em 0em .2em .5em;   
        vertical-align: middle;
    }
}

.ini-settings-range {
    display: flex;
    justify-content: space-evenly;

    input[type="range"] {
        width: 60%;
    }

    input {
        width: 30%;
    }
}